<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ardic" version="1.0.26">
    <name>Ardic</name>
    <description>Ardic Android Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,device,ardic</keywords>
    <repo> https://github.com/freeloki/cordova-plugin-system9.git </repo>

     <dependency id="cordova-plugin-file" version=">=5.0.0" />

    <engines>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

    <js-module src="www/CordovaAfexService.js" name="CordovaAfexService">
        <clobbers target="CordovaAfexService" />
    </js-module>

    <!-- android -->
    <platform name="android">

         <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaAfexService">
            <param name="android-package" value="com.ardic.android.cordova.plugin.CordovaAfexService"/>
            <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaAfexService.java" target-dir="src/com/ardic/android/cordova/plugin/" />

        <!-- Custom Ardic Libraries -->
        <framework src="src/android/ardic-build.gradle" custom="true" type="gradleReference" />

    </platform>
</plugin>
